.dropdown {
  .toggle {
    height: 40px;
    width: 200px;
    background: #262626;
    outline: none;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 12pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    border-radius: 4px;

    &.active {
      border: 1px solid #0d8b7f;
    }

    &:hover {
      background-color: #1f1f1f;
    }
  } //END toggle

  .optionsList {
    position: absolute;
    background: #fff;
    margin: 5px 0;
    width: 200px;
    padding: 0;
    box-shadow: 1px 1px 5px 0px #888;

    li {
      list-style-type: none;
      padding: 10px 15px;
      cursor: pointer;

      &.labelOption {
        font-size: 11pt;
        color: #666;
        cursor: default;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;
      }

      &.disabled {
        cursor: default;
        color: #ababab;
      }
    }
  } //END optionsList
} //END dropdown
